<div>
  <mat-card class="example-card">
    <mat-card-title fxLayoutAlign="center" style="color: blue">
      Hotel Table ({{dataSource.renderedData.length}})
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row wrap">
        <mat-form-field>
          <mat-label>Filter By Anything</mat-label>
          <input matInput #filter placeholder="Filter issues">
        </mat-form-field>
        <mat-paginator #paginator
                       [length]="dataSource.filteredData.length"
                       [pageIndex]="0" [pageSize]="10" showFirstLastButtons
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
      <div class="table-style">
        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Serial No</mat-header-cell>
            <mat-cell *matCellDef="let row; let i=index;">{{i + 1}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="entityId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Department ID</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.entityId}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="entityCategory">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.entityCategory}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="entityName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.entityName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="entityDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.entityDescription}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="entityImageUrl">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Image URL</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.entityImageUrl}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="entityStatus">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.entityStatus}}</mat-cell>
          </ng-container>
          <!-- actions -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef="let row; let i=index;">
              <button mat-icon-button color="accent" (click)="addNew(row)">
                <mat-icon>add_circle</mat-icon>
              </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">
              <button mat-icon-button color="primary"
                      (click)="startEdit(i, row.entityId, row.entityName, row.entityCategory, row.entityDescription, row.entityImageUrl, row.entityStatus)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>

              <button mat-icon-button color="warn"
                      (click)="deleteItem(i, row.entityId, row.entityName, row.entityCategory, row.entityStatus)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
          No Hotel
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
      <button fxFlex="50%" mat-raised-button color="primary" (click)="onSave()">
        <mat-icon>save</mat-icon>
        Save Hotels
      </button>
      <button fxFlex="50%" mat-raised-button color="warn">
        <mat-icon>cancel</mat-icon>
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div>
  <mat-card>
    <mat-card-content>
      <div fxLayout=“row” fxLayoutAlign="center center" class="example-small-box mat-elevation-z4">
        <input style="display: none"
          type="file" (change)="onFileChanged($event)"
          #fileInput>
        <button (click)="fileInput.click()">Select File</button>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap.xs="0">
        <mat-form-field>
          <input matInput [formControl]="pIdFormControl"
                 type="text" placeholder="Hotel Name" [(ngModel)]="data.entityName" name="id" required>
          <mat-error *ngIf="!pIdFormControl.hasError('required')">
            Hotel Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [formControl]="pIdFormControl"
                 type="text" placeholder="Hotel Short Name" [(ngModel)]="data.entityShortName" name="id" required>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Hotel Category</mat-label>
          <input matInput [formControl]="pCategoryFormControl"
                 type="text" placeholder="Hotel Category" [(ngModel)]="data.entityCategory" name="pcategory" required>
          <mat-error *ngIf="!pCategoryFormControl.hasError('required')">
            Hotel Category is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Hotel Name</mat-label>
          <input matInput [formControl]="pNameFormControl"
                 type="text" placeholder="Hotel Name" [(ngModel)]="data.entityName" name="pname" required>
          <mat-error *ngIf="!pNameFormControl.hasError('required')">
            Hotel Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Status</mat-label>
          <input matInput [formControl]="pPriceFormControl"
                 type="text" placeholder="Status" [(ngModel)]="data.entityStatus" name="pprice" required>
          <mat-error *ngIf="!pPriceFormControl.hasError('required')">
            Status is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Image URL</mat-label>
          <input matInput [formControl]="pQuantityFormControl"
                 type="text" placeholder="Image URL" [(ngModel)]="data.entityImageUrl" name="ptotal" required>
          <mat-error *ngIf="!pQuantityFormControl.hasError('required')">
            Product Image URL is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Description</mat-label>
          <input matInput [formControl]="deptIdFormControl"
                 type="text" placeholder="Department Id" [(ngModel)]="data.entityDescription" name="did" required>
          <mat-error *ngIf="!deptIdFormControl.hasError('required')">
            Hotel Description is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Logo</mat-label>
          <input matInput type="color" placeholder="Entity Logo" [(ngModel)]="data.entityLogo" name="logo" required>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Industry</mat-label>
          <input matInput type="text" placeholder="Industry" [(ngModel)]="data.entityIndustry" name="industry" required>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Tax ID</mat-label>
          <input matInput type="text" placeholder="Tax ID" [(ngModel)]="data.entityTaxID" name="taxid" required>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Address 1</mat-label>
          <input matInput type="text" placeholder="Address 1" [(ngModel)]="data.entityAddLine1" name="line1"
                 required>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Address 2</mat-label>
          <input matInput type="text" placeholder="Address 2" [(ngModel)]="data.entityAddLine2" name="line2"
                 required>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Start Date</mat-label>
          <input matInput type="date" placeholder="Start Date" [(ngModel)]="data.entityStartDate" name="sdate" required>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Fiscal Year</mat-label>
          <input matInput type="number" placeholder="Fiscal Year" [(ngModel)]="data.entityFiscalYear" name="fyear"
                 required>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Time Zone</mat-label>
          <input matInput type="text" placeholder="Time Zone" [(ngModel)]="data.entityTimeZone" name="tzone">
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
</div>
