<mat-nav-list [style.maxHeight]="(menu.open)?'1200px':'65px'"
              [ngClass]="{'secondaryMenu': secondaryMenu, 'primary': !secondaryMenu}">
  <mat-list-item *ngIf="menu.link==false" (click)="openLink()">
    <mat-icon matListIcon iconsmall>{{menu.icon}} </mat-icon>
    <h3 matLine *ngIf="!iconOnly">{{ menu.name }} </h3>
    <mat-icon *ngIf="checkForChildMenu()" class="sidenav-dropdown-indicator rotate"
              [ngClass]="{'indicateOpen':menu.open}"> expand_more
    </mat-icon>
  </mat-list-item>

  <mat-list-item *ngIf="menu.link!=false" (click)="menu.open = !menu.open" [routerLink]="[menu.link]"
                 routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                 [ngClass]="{'active': menu.link ? router.isActive(menu.link, true): false}">
    <mat-icon matListIcon iconsmall>{{menu.icon}} </mat-icon>
    <h3 matLine *ngIf="!iconOnly">{{ menu.name }} </h3>
  </mat-list-item>

  <app-side-menu-items *ngFor="let submenu of menu?.sub" [menu]="submenu" [iconOnly]="iconOnly"
                       [secondaryMenu]="true"></app-side-menu-items>
</mat-nav-list>
