<div class="container">
  <h3 mat-dialog-title style="text-align: center">Are you sure?</h3>
  <div mat-dialog-content>
    Hotel Id: {{data.entityId}}
    <p></p>
    Hotel Name: {{data.entityName}}
    <p></p>
    Hotel Category: {{data.entityCategory}}
    <p></p>
    Hotel Status: {{data.entityStatus}}
    <p></p>
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</div>
