<mat-card>
  <mat-card-title fxLayoutAlign="center" style="color: blue">
    User Details
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap.xs="0">
      <label style="color: magenta"><b>Hotel ID : </b>{{hotelId}}</label>
      <label style="color: magenta"><b>Hotel Name: </b>{{hotelId}}</label>
    </div>
    <div style="height: 100px;" fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap.xs="0">
      <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="User Name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>User ID</mat-label>
        <input matInput placeholder="User ID">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>User Password</mat-label>
        <input matInput placeholder="User Password">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Recovery Hint</mat-label>
        <input matInput placeholder="Recovery Hint">
      </mat-form-field>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="40%" style="height: 273px">
        <app-dual-select-role [data]="branches"></app-dual-select-role>
      </div>
      <div fxFlex="20%" fxLayoutAlign="center center" style="height: 273px">
        <button mat-raised-button (click)="proceed()">Proceed</button>
      </div>
      <div fxFlex="40%" fxLayoutAlign="center center" style="height: 273px;overflow: auto">
        <mat-table *ngIf="roleTableFlag" [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="branchName">
            <mat-header-cell *matHeaderCellDef>Branch Name</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.branchName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="branchRole">
            <mat-header-cell *matHeaderCellDef>Branch Role</mat-header-cell>
            <mat-cell *matCellDef="let element">
              <mat-form-field>
                <mat-select placeholder="Branch Role"
                            [(value)]="element.branchRole">
                  <mat-option value="Inventory Manager">Inventory Manager</mat-option>
                  <mat-option value="POS Manager">POS Manager</mat-option>
                  <mat-option value="ADMIN">ADMIN</mat-option>
                  <mat-option value="Store Keeper">Store Keeper</mat-option>
                  <mat-option value="POS Billing">POS Billing</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
    <button fxFlex="50%" mat-raised-button color="primary" (click)="onSave()">
      <mat-icon>save</mat-icon>
      Save A User
    </button>
    <button fxFlex="50%" mat-raised-button color="warn">
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
