<div>
  <mat-card>
    <mat-toolbar color="primary" style="position: sticky;top: 0;z-index: 1000;position: -webkit-sticky;" fxLayout="row"
                 fxLayoutAlign="start center">
      <div fxFlex="70%" fxFlex.lt-md="70%">
        User Maintenance
      </div>
      <div fxFlex="20%">
      </div>
      <div fxFlex="10%" fxFlex.lt-md="10%">
        <button mat-button [disabled]="newEntryFlag" (click)="addNew()">
          Add User
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <mat-card-content>
      <div>
        <app-user-table-expandable-rows [moduleData]="userDataSource"></app-user-table-expandable-rows>
      </div>
    </mat-card-content>
  </mat-card>
</div>

