// To Disable Mat drag drop Dual List
.disabled-content {
  pointer-events: none;
  opacity: 0.4;
}
.disabled-button {
  pointer-events: none;
  opacity: 0.6;
  color: #FFFFFF;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}
