<mat-card>
  <mat-card-title fxLayoutAlign="center" style="color: blue">
    Role Details
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="row wrap" fxLayoutAlign="space-between" fxLayoutGap.xs="0">
      <label style="color: magenta"><b>Hotel ID : </b>{{hotelId}}</label>
      <label style="color: magenta"><b>Hotel Name: </b>{{hotelId}}</label>
    </div>
    <div style="height: 100px;" fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap.xs="0">
      <mat-form-field appearance="outline">
        <mat-label>Role Name</mat-label>
        <input matInput placeholder="Role Name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select placeholder="Branch Role"
                    [(value)]="selectedUser">
          <mat-option value="Ram">Ram</mat-option>
          <mat-option value="Sita">Sita</mat-option>
          <mat-option value="Laxman">Laxman</mat-option>
          <mat-option value="Hari">Hari</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap">
      <div style="height: 273px" fxFlex="40%" fxFlexAlign="flex-start center">
        <label style="color: blue"><b>Select Modules</b></label>
        <app-dual-select-role [data]="modulesName"></app-dual-select-role>
      </div>
      <div style="height: 273px" fxFlex="20%" fxLayoutAlign="center center">
        <button mat-raised-button (click)="proceed()">Proceed</button>
      </div>
      <div *ngIf="roleTableFlag" style="height: 273px; overflow: auto;" fxFlex="40%">
        <label style="color: blue"><b>Select Parts of Module</b></label>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel *ngFor="let type1 of selectedModules" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{type1.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{type1.name}}
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let i of type1.subPackages">
              <mat-checkbox [(ngModel)]="i.selected">{{i.name}}</mat-checkbox>
            </div>
            <!--<app-dual-select-role [data]="item.details"></app-dual-select-role>-->
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
    <button fxFlex="50%" mat-raised-button color="primary" (click)="onSave()">
      <mat-icon>save</mat-icon>
      Save Role
    </button>
    <button fxFlex="50%" mat-raised-button color="warn">
      <mat-icon>cancel</mat-icon>
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
