<mat-card class="mat-parent">
  <mat-toolbar color="primary" style="position: sticky;top: 0;z-index: 1000;position: -webkit-sticky;" fxLayout="row"
               fxLayoutAlign="start center">
    <div fxFlex="90%" fxFlex.lt-md="70%">
      Payment Package
    </div>
    <div fxFlex="10%" fxFlex.lt-md="10%">
    </div>
  </mat-toolbar>
  <div class="carousel-inner" align="center" role="listbox">
    <div class="carousel-item" style="display: block; width: 100%;">
      <div fxFlex="33%" *ngFor="let pPackage of paymentPackage">
        <mat-card class="example-card">
          <img mat-card-image [src]="pPackage.packageImageURL" [alt]="pPackage.packageName">
          <mat-card-content>
            <div class="card-body">
              <h4 class="card-title">{{pPackage.packageName}}</h4>
              <p>{{pPackage.packageDescription}}</p>
              <button mat-raised-button color="primary">Select</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</mat-card>
<!--/*for mobile and small  devices */-->
<mat-card class="mat-parent-small">
  <mat-toolbar color="primary" style="position: sticky;top: 0;z-index: 1000;position: -webkit-sticky;" fxLayout="row"
               fxLayoutAlign="start center">
    <div fxFlex="90%" fxFlex.lt-md="70%">
      Payment Package
    </div>
    <div fxFlex="10%" fxFlex.lt-md="10%">
    </div>
  </mat-toolbar>
  <div *ngFor="let pPackage of paymentPackage">
    <mat-card class="example-card">
      <img mat-card-image [src]="pPackage.packageImageURL" [alt]="pPackage.packageName">
      <mat-card-content>
        <div class="card-body">
          <h4 class="card-title">{{pPackage.packageName}}</h4>
          <p>{{pPackage.packageDescription}}</p>
          <button mat-raised-button color="primary">Select</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>
