<div class="container">
  <h3 mat-dialog-title style="text-align: center">Add New Hotel</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div fxLayout="row wrap">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Hotel ID</mat-label>
        <input matInput [formControl]="pIdFormControl"
               type="text" placeholder="Hotel Id" [(ngModel)]="data.entityId" name="id" required>
        <mat-error *ngIf="!pIdFormControl.hasError('required')">
          Hotel ID is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Hotel Category</mat-label>
        <input matInput [formControl]="pCategoryFormControl"
               type="text" placeholder="Hotel Category" [(ngModel)]="data.entityCategory" name="pcategory" required>
        <mat-error *ngIf="!pCategoryFormControl.hasError('required')">
          Hotel Category is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Hotel Name</mat-label>
        <input matInput [formControl]="pNameFormControl"
               type="text" placeholder="Hotel Name" [(ngModel)]="data.entityName" name="pname" required>
        <mat-error *ngIf="!pNameFormControl.hasError('required')">
          Hotel Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Status</mat-label>
        <input matInput [formControl]="pPriceFormControl"
               type="text" placeholder="Status" [(ngModel)]="data.entityStatus" name="pprice" required>
        <mat-error *ngIf="!pPriceFormControl.hasError('required')">
          Status is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Image URL</mat-label>
        <input matInput [formControl]="pQuantityFormControl"
               type="text" placeholder="Image URL" [(ngModel)]="data.entityImageUrl" name="ptotal" required>
        <mat-error *ngIf="!pQuantityFormControl.hasError('required')">
          Product Image URL is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Description</mat-label>
        <input matInput [formControl]="deptIdFormControl"
               type="text" placeholder="Department Id" [(ngModel)]="data.entityDescription" name="did" required>
        <mat-error *ngIf="!deptIdFormControl.hasError('required')">
          Hotel Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Logo</mat-label>
        <input matInput type="color" placeholder="Entity Logo" [(ngModel)]="data.entityLogo" name="logo" required>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Industry</mat-label>
        <input matInput type="text" placeholder="Industry" [(ngModel)]="data.entityIndustry" name="industry" required>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Tax ID</mat-label>
        <input matInput type="text" placeholder="Tax ID" [(ngModel)]="data.entityTaxID" name="taxid" required>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Address 1</mat-label>
        <input matInput type="text" placeholder="Address 1" [(ngModel)]="data.entityAddress" name="line1"
               required>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Address 2</mat-label>
        <input matInput type="text" placeholder="Address 2" [(ngModel)]="data.entityAddress" name="line2"
               required>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Start Date</mat-label>
        <input matInput type="date" placeholder="Start Date" [(ngModel)]="data.entityStartDate" name="sdate" required>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Fiscal Year</mat-label>
        <input matInput type="number" placeholder="Fiscal Year" [(ngModel)]="data.entityFiscalYear" name="fyear"
               required>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Time Zone</mat-label>
        <input matInput type="text" placeholder="Time Zone" [(ngModel)]="data.entityTimeZone" name="tzone">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
              (click)="confirmAdd()">Save
      </button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
